header {
    display: flex;
    justify-content: space-between;
    margin: 1.5vw 8vw 1.5vw 8vw;
}
header ul {
    display: flex;
}
header ul li{
    margin-left: 2vw;
}
header span {
    color: #1090CB;
}
header ul li button{
    background-color: #1090CB;
    padding: 3px;
    border-radius: 2vw;
    
}
main .inicio .maior{
    background-color: rgba(16, 144, 203, 0.1);
}
main .inicio .maior div h1 span{
    color: #1090CB;
}
main .inicio .maior div h1{
    font-size: 1.5vw;

}
.inicio .maior{
    display: flex;
}
.inicio .maior h1{
    margin: 5vw 2vw 3vw 5vw ;
    font-size: 4vw;
}
.inicio .maior p{
    margin: 0vw 0vw 3vw 5vw;
    line-height: 1.5vw;
}
/* .inicio .maior .bot1{ */

/* .inicio .maior .bot2{ */


.segunda .gran2 ul{
    display: flex;
    text-align: center;
    
}
.segunda .gran2 ul li{
    margin: 2vw 3vw 2vw 10vw;
}
.segunda .gran2 .i1{
    padding: 1vw;
    background-color:rgba(239, 234, 255, 1);
    border-radius: 20px;
}
.segunda .gran2 .i2{
    padding: 1vw;
    background-color: #ECFFDA;
    border-radius: 20px;
}
.segunda .gran2 .i3{
    padding: 1vw;
    background-color: #DAE6FF;
    border-radius:20px;
}
.segunda .gran2 .i4{
    padding: 1vw;
    background-color: #FFE5DA;
    border-radius: 20px
}
.meio .digran1 h2{
    text-align: center;
}
.meio .digran1 p{
    text-align: center;
    margin: 2vw 0 4vw;
}
.meio .digran1 span{
    color: #1090CB;
}
